#around{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
#around #around_left{
    float: left;
    margin-left: -14px;
    margin-bottom: -14px;
}
#around #around_left li{
    height: 300px;
}
#around #around_left img{
    width: 234px;
    height: 300px;
}
#around #around_content li:hover img{
    transform: scale(1.1, 1.1);
    transition: .5s transform;
    z-index: 1;
}
#around  #box2_bd ul li{
    margin-left: 14px;
    margin-bottom: 14px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}
/*#accessories  #box_bd li:hover{*/
/*top: -2px;*/

/*}*/
#around  #box2_bd #around_content img{
    width: 150px;
    height: 150px;
    margin: 34px 0 18px 0;
}
#around #box2_hd #title2{
    font-size: 25px;
    font-weight: 200;
    line-height: 58px;
}
#around #box2_hd #nav2 ul,#around #box2_bd ul{
    list-style: none;
}
/*#accessories #box-hd #nav ul{*/
/*height: 42px;*/
/*}*/
#around #box2_hd #nav2 ul li{
    float: left;
    margin-left: 30px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    transition: 0.5s;
}
#around #box2_hd{
    width: 1226px;
    height: 58px;
}
#around #title2{
    float: left;
}
#around #nav2{
    float: right;
    padding: 16px 0 0 ;
}
#around #nav2 .col{
    color: orange;
    border-bottom: 2px solid orange;
}
#around #around_content{
    width: 992px;
    height: 614px;
    float: right;
}
#around  #box2_bd #around_content .brick-item-s{
    width: 234px;
    height: 143px;
}
#around  #box2_bd #around_content .brick-item-s img{
    position: absolute;
    right: 20px;
    top: 32px;
    margin: 0;
}
#around  #box2_bd #around_content h3{
    width: 214px;
    height: 21px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
}
#around  #box2_bd #around_content span{
    color: #ff6700;
    margin: 10px;
}
#around  #box2_bd #around_content p{
    margin-bottom: 20px;
}
#around  #box2_bd #around_content div{
    font-size: 12px;
    color:  #b0b0b0;
}
#around  #box2_bd #around_content .qw{
    background-color:#ff6700;
    color: white;
    width:234px;
    height: 75px;
    position:absolute;
    bottom:-75px;
    left:0;
    font-size: 12px;
    font-weight: 600;
}
#around  #box2_bd #around_content .qw p{
    padding: 10px;
}
#around  #box2_bd #around_content .brick-item-s img{
    width: 80px;
    height: 80px;
    /*margin: 18px 0;*/
}
#around  #box2_bd #around_content .teshu img{
    width: 55px;
    height: 52px;
    top:50%;
    margin-top: -26px;
    right:32px;
}
#around  #box2_bd #around_content .brick-item-s h3{
    margin-top: 45px;
    margin-left: 30px;
    width: 94px;
    height: 21px;
    text-align: left;
}
#around  #box2_bd #around_content .brick-item-s span{
    margin: 0;
}
#around  #box2_bd #around_content .brick-item-s p{
    width: 94px;
    height: 21px;
    text-align: left;
    margin:10px 30px ;
}
#around #around_content ul li{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}
#around #around_content .show{
    display: block;
}
#around #around_content ul{
    display: none;
}